body {
	  margin: 0;
	  padding: 0;
	  font-size: 12px;
	  overflow-x: hidden;
}


a {
  text-decoration: none;
  color: inherit;
}

	#uxc-4 {
	  position: relative;
	  background: #008DD3;
	  height: 680px;
	}

	.uxc4-head {
	  padding-top: 200px;
	  margin: auto;
	  font: 500 40px/57px "Rubik", sans-serif;
	  color: white;
	  width: 45%;
	  padding-right: 200px;
	}

	.uxc4-button {
	  margin-top: 80px;
	  background: white;
	  width: 168px;
	  height: 16px;
	  font: 500 16px/16px "Rubik", sans-serif;
	  color: #008DD3;
	  text-align: center;
	  padding: 16px 0px;
	  border-radius: 7px;
	  box-shadow: 0px 4px 8px #007CC2;
	  margin-top: 60px;
	}

	.uxc4-button-cont {
	  margin: auto;
	  width: 45%;
	  padding-right: 200px;
	  text-align: left;
	}

	.uxc4-img2 {
	  width: 199px;
	  height: 303px;
	  background-image: url("./assets/Asset15.png");
	  position: absolute;
	  top: -105px;
	  right: 30px;
	}

	.uxc4-img1 {
	  width: 798px;
	  height: 579px;
	  background-image: url("./assets/Asset13.png");
	  position: absolute;
	  bottom: -20px;
	  right: 0px;
	}

	.uxc4-img3 {
	  width: 216px;
	  height: 348px;
	  background-image: url("./assets/Asset12.png");
	  position: absolute;
	  top: 280px;
	  left: 40px;
	}



	/* .closebutton { position: absolute; top: 15px; right: 15px; }
		.closebutton span { color: #ababab; font-size: 30px}
		<div class="closebutton"><span class="lnr lnr-cross-circle"></span></div> **/
