body {
	  margin: 0;
	  padding: 0;
	  font-size: 12px;
	  overflow-x: hidden;
}

	a {
	  text-decoration: none;
	  color: inherit;
	}

	#uxc-1 {
	  height: 720px;
	  position: relative;
	  background: white;
	}

	#navbar {
	  width: 100vw;
	  position: fixed;
	  top: 0;
	  z-index: 99;
	  height: 115px;
	  background: white;
	}


	.headlogo {
	  background-image: url("./assets/Logo.png");
	  background-size: 188px;
	  width: 188px;
	  height: 50px;
	  position: absolute;
	  top: 30px;
	  left: 60px;
	}

.mobilenav { display: none; }

	.fa-bars {
		display: none;
	}

	.navlinks {
	  position: absolute;
	  top: 50px;
	  left: 250px;
	}

	.navlinks a {
	  transition: 0.5s;
	  font-size: 16px;
	  color: #3B3E42;
	  margin-left: 80px;
	  font-family: "Rubik", sans-serif;
	  text-decoration: none;
	}

	.navlinks a {
	  border-bottom: 1px solid white;
	  padding-bottom: 5px;
	  transition: 0.3s all ease-in-out;
	}

	.navlinks a:hover {
	  border-color: #008dd3;
	}

	.regbutton {
	  color: white;
	  background-color: #008dd3;
	  box-shadow: 0px 4px 8px rgba(169, 169, 169, 0.3);
	  border-radius: 7px;
	  width: 148px;
	  text-align: center;
	  padding: 16px 0px;
	  font: 400 16px/19px "Rubik", sans-serif;
	  cursor: pointer;
	  border: none;
	  position: fixed;
	  top: 30px;
	  right: 60px;
		z-index: 100;
	}

	.uxc1-img1 {
	  background-image: url("./assets/pic1.png");
	  width: 565px;
	  height: 714px;
	  position: absolute;
	  left: 50px;
		top: 0px;
	}

	.uxc1-img2 {
	  background-image: url("./assets/Asset18.png");
	  width: 398px;
	  height: 286px;
	  position: absolute;
	  right: 75px;
		bottom: 75px;
	}

	.uxc1-img3 {
	  background-image: url("./assets/Asset11.png");
	  width: 390px;
	  height: 427px;
	  position: absolute;
	  right: -122px;
		top: 31px;
	}

	.uxc1-center {
	  width: 670px;
	  margin: auto;
	  height: 151px;
	  margin-top: 160px;
	  position: relative;
	  top: 50px;
	}

	.uxc1-center h1 {
	  margin: 0px;
	  font-family: "Roboto", sans-serif;
	  font-style: normal;
	  font-weight: 900;
	  line-height: 156px;
	  font-size: 210px;
	  letter-spacing: 0.05em;
	  display: inline-block;
	  color: #3F3F3F;
	}

	.uxc1-center h2 {
	  font-family: "Nunito Sans", sans-serif;
	  font-weight: 400;
	  line-height: 83px;
	  font-size: 110px;
	  color: #3F3F3F;
	  position: absolute;
	  top: 0px;
	  right: 0px;
	  margin: 0px;
	}

	.uxc1-line {
	  background-color: #008DD3;
	  height: 15px;
	  width: 375px;
	  margin: 0px;
	  position: absolute;
	  bottom: 43px;
	  right: 0px;
	}

	.uxc1-center h3 {
	  color: #ABABAB;
	  font-family: "Rubik", sans-serif;
	  font-size: 24px;
	  margin: 0px;
	  font-weight: 500;
	  position: absolute;
	  bottom: 0px;
	  right: 0px;
	}

	.uxc1-text {
	  color: #707070;
	  opacity: 0.85;
	  font-size: 20px;
	  margin: auto;
	  margin-top: 90px;
	  padding-left: 70px;
	  width: 600px;
	  font: 400 18px/34px "Rubik", sans-serif;
	}

	.uxchill-footer {
	  position: absolute;
	  bottom: 35px;
	  right: 35px;
	  height: 72px;
	}

	.uxchill-footer h4 {
	  color: #ababab;
	  opacity: 0.7;
	  font: 500 15px/18px "Roboto", sans-serif;
	  margin: 0px;
	  display: inline-block;
	  position: relative;
	  top: -30px;
	}

	.sqlogo {
	  display: inline-block;
	  background: url("./assets/biglogo.png");
	  background-size: 72px;
	  display: inline-block;
	  margin-left: 10px;
	  height: 72px;
	  width: 72px;
	}

	#uxc-2 {
	  background: #008DD3;
	  text-align: center;
	  padding: 60px 0px 120px 0px;
	}

	#uxc-2 h1 {
	  margin: 0px;
	  color: white;
	  font-family: "Rubik", sans-serif;
	  font-weight: 500;
	  font-size: 3em;
	  margin-bottom: 50px;
	}

	.uxc2-container {
	  width: 1040px;
	  margin: auto;
		display: grid;
		grid-template-columns: auto auto auto;
		grid-template-rows: auto auto;
	}

	.uxc2-panel {
	  width: 270px;
	  display: inline-block;
	  vertical-align: top;
	  background: white;
	  height: 570px;
	  padding: 30px;
	  margin-bottom: 35px;
	  margin-left: 22px;
	  border-radius: 8px;
	  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	  text-align: left;
	  position: relative;
	}

	.uxc2-panel:first-child, .uxc2-panel:nth-child(4) {
	  margin-left: 0px;
	}

	.panel-img {
	  width: 270px;
	  height: 200px;
	  margin-bottom: 20px;
	}

	.uxc2-panel h2 {
	  margin: 0px;
	  color: #008DD3;
	  font: 500 16px/23px "Rubik", sans-serif;
	}

	.uxc2-panel h3 {
	  margin: 0px;
	  margin: 10px 0px;
	  font: 500 16px/23px "Rubik", sans-serif;
	  color: #3f3f3f;
	}

	.uxc2-panel p {
	  margin: 0px;
	  font: 400 12px/20px "Rubik", sans-serif;
	  color: #8D959D;
	}

	.panel-button {
	  padding: 16px 20px;
	  width: 100px;
	  height: 17px;
	  background: #008DD3;
	  text-align: center;
	  color: #f3f3f3;
	  font: 14px/17px "Rubik", sans-serif;
	  border-radius: 7px;
	  box-shadow: 0px 4px 8px rgba(169, 169, 169, 0.3);
	  position: absolute;
	  bottom: 30px;
	  left: 30px;
	}

	#uxc-3 {
	  background: #EAEDF1;
	  padding: 90px 0px 120px 0px;
	  position: relative;
	}

	#uxc-3 h1 {
	  margin: 0px;
	  text-align: center;
	  font: 500 36px/43px "Rubik", sans-serif;
	  color: #3f3f3f;
	}

	.uxc3-container {
	  margin: auto;
	  width: 1050px;
	  margin-top: 80px;
		display: grid;
		grid-template-columns: auto auto auto;
		grid-template-rows: auto auto;
	}

	.uxc3-box {
	  width: 233px;
	  height: 270px;
	  padding: 60px 40px;
	  background: white;
	  display: inline-block;
	  vertical-align: top;
	  position: relative;
	  border-radius: 10px;
		margin-left: 45px
	}

	.uxc3-box:nth-child(1) {
	  margin-left: 0px;
	}

	.uxc3-box h2 {
	  margin: 0px;
	  font: 500 34px/43px "Rubik", sans-serif;
	  color: #008DD3;
	}

	.uxc3-box h3 {
	  margin: 0px;
	  font: 500 18px/24px "Rubik", sans-serif;
	  color: #3f3f3f;
	}

	.uxc3-box h4 {
	  margin: 0px;
	  font: 400 14px/17px "Rubik", sans-serif;
	  color: #ababab;
	  margin-top: 15px;
	}

	.uxc3-box p {
	  margin: 0px;
	  margin-top: 15px;
	  font: 400 14px/17px "Rubik", sans-serif;
	  color: #5f5f5f;
	}

	.box-button {
	  font: 400 16px/16px "Rubik", sans-serif;
	  color: white;
	  text-align: center;
	  background: #008DD3;
	  width: 168px;
	  padding: 16px 0px;
	  border-radius: 7px;
	  box-shadow: 0px 4px 8px rgba(169, 169, 169, 0.3);
	  position: absolute;
	  bottom: 60px;
	  left: 40px;
	}

	.uxc3-img1 {
	  width: 307px;
	  height: 795px;
	  background-image: url("./assets/Asset17.png");
	  position: absolute;
	  top: -170px;
	}

	#uxc-4 {
	  position: relative;
	  background: #008DD3;
	  height: 680px;
	}

	.uxc4-head {
	  padding-top: 200px;
	  margin: auto;
	  font: 500 40px/57px "Rubik", sans-serif;
	  color: white;
	  width: 45%;
	  padding-right: 200px;
	}

	.uxc4-button {
	  margin-top: 80px;
	  background: white;
	  width: 168px;
	  height: 16px;
	  font: 500 16px/16px "Rubik", sans-serif;
	  color: #008DD3;
	  text-align: center;
	  padding: 16px 0px;
	  border-radius: 7px;
	  box-shadow: 0px 4px 8px #007CC2;
	  margin-top: 60px;
	}

	.uxc4-button-cont {
	  margin: auto;
	  width: 45%;
	  padding-right: 200px;
	  text-align: left;
	}

	.uxc4-img2 {
	  width: 199px;
	  height: 303px;
	  background-image: url("./assets/Asset15.png");
	  position: absolute;
	  top: -105px;
	  right: 30px;
	}

	.uxc4-img1 {
	  width: 798px;
	  height: 579px;
	  background-image: url("./assets/Asset13.png");
	  position: absolute;
	  bottom: -20px;
	  right: 0px;
	}

	.uxc4-img3 {
	  width: 216px;
	  height: 348px;
	  background-image: url("./assets/Asset12.png");
	  position: absolute;
	  top: 280px;
	  left: 40px;
	}

	#uxc-5 {
	  background: white;
	  padding: 90px 30px;
	}

	.uxc5-logo {
	  background-image: url("./assets/Logo.png");
	  width: 278px;
	  height: 66px;
	  display: inline-block;
	  margin-right: 130px;
	  vertical-align: top;
	}

	.uxc5-follow {
	  border-right: 2px solid rgba(196, 196, 196, 0.4);
	  width: 150px;
	  padding-right: 90px;
	  display: inline-block;
	  margin-right: 90px;
	  vertical-align: top;
	}

	#uxc-5 h1 {
	  margin: 0px;
	  font: 500 24px/28px "Rubik", sans-serif;
	  color: #3f3f3f;
	}

	#uxc-5 p {
	  margin: 0px;
	  margin: 15px 0px;
	  font: 400 14px/18px "Rubik", sans-serif;
	  color: #5f5f5f;
	}

	.uxc5-contact {
	  display: inline-block;
	  width: 150px;
	}

	.uxc5-contain {
	  width: 1000px;
	  margin: auto;
	}

	/* modals */
	.close-container {
		display: flex;
		justify-content: flex-end;
	}

	.close {
		margin: 16px;
		cursor: pointer;
	}

	.modal-content {
	  display: none;
	}

	#fade-background {
	  position: fixed;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  background: rgba(0, 0, 0, 0.8);
	  z-index: 100;
	}

	#modal-window {
	  position: fixed;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  height: 580px;
	  z-index: 101;
	}

	#spmodal {
	  background: white;
	  margin: auto;
	  width: 900px;
	  height: 580px;
	  background: white;
	}

	.sp-grid {
		display: grid;
		grid-template-columns: auto auto;
		margin: auto;
	}

	.sp-img {
	  width: 350px;
	  height: 420px;
	  overflow: hidden;
	  /* position: absolute; */
	}

	.sp-img {
		margin-left: auto;
		margin-right: 24px;
	}

	.sp-img img {
	  width: 350px;
	  height: 420px;
	}

	.sp-right {
	  width: 350px;
	  height: 400px;
		margin-right: auto;
		margin-left: 24px;
	  /* position: absolute; */
	}

	.sp-right h1 {
	  margin: 0px;
	  font: 500 21px/30px "Rubik", sans-serif;
	  color: #008DD3;
	  text-align: left;
		margin-top: 24px;
	}

	.sp-right h2 {
	  margin: 0px;
	  font: 500 16px/19px "Rubik", sans-serif;
	  color: #3F3F3F;
	  text-align: left;
	  margin: 16px 0px;
	}

	.sp-right p {
	  margin: 0px;
	  font: 400 14px/25px "Rubik", sans-serif;
	  color: #8D959D;
	  text-align: left;
	  max-height: 350px;
	  overflow: hidden;
	}

	.speaker-button {
	  color: white;
	  background-color: #008dd3;
	  box-shadow: 0px 4px 8px rgba(169, 169, 169, 0.3);
	  border-radius: 7px;
	  width: 148px;
	  text-align: center;
	  padding: 16px 0px;
	  font: 400 16px/19px "Rubik", sans-serif;
	  cursor: pointer;
	  text-decoration: none;
		margin-top: 36px;
	  /* position: absolute; */
	  /* bottom: 20px; */
	}

	#talkmodal {
	  background: white;
	  margin: auto;
	  width: 650px;
	  height: 575px;
	  background: white;
	  /* vertical-align: middle;
	  position: relative;
	  text-align: center;
	  padding: 70px 50px; */
	}

	.talkmodal {
		display: grid;
		grid-template-rows: auto auto auto auto;
	}

	.talkmodal h1 {
	  margin: 0px;
	  color: #008DD3;
		text-align: center;
	  font: 500 36px/43px "Rubik", sans-serif;
		grid-row: 1/1;
	}

	.talkmodal h2 {
	  margin: 0px;
	  color: black;
	  font: 400 18px/21px "Rubik", sans-serif;
	  text-transform: uppercase;
	  margin: 16px 0px;
		grid-row: 2/2;
		text-align: center;
	}

	.talkmodal p {
	  font: 400 16px/38px "Rubik", sans-serif;
	  color: #707070;
	  text-align: left;
	  width: 350px;
	  margin: 0px;
		grid-row: 3/3;
	}

	.talkmodal p b {
	  font: inherit;
	  display: inline-block;
	  width: 80px;
	  text-align: justify;
	  margin: auto;
		margin-bottom: 8px;
	}

	.talkregbutton {
	  color: white;
	  background-color: #008dd3;
	  box-shadow: 0px 4px 8px rgba(169, 169, 169, 0.3);
	  border-radius: 7px;
	  width: 136px;
	  text-align: center;
	  padding: 16px 0px;
	  font: 400 14px/17px "Rubik", sans-serif;
	  cursor: pointer;
	  text-decoration: none;
		grid-row: 4/4;
		margin-top: 32px;
	}

	.regbutton:hover, .panel-button:hover, .talkregbutton:hover, .box-button:hover {
	  background: #007dbb;
	  margin-top: -2px;
	  margin-bottom: 2px;
	}

	.regbutton, .panel-button, .talkregbutton, .box-button, .uxc4-button {
	  transition: 0.1s all ease-in-out;
	}

	.uxc4-button:hover {
	  background: #f3f3f3;
	}

	/* .closebutton { position: absolute; top: 15px; right: 15px; }
		.closebutton span { color: #ababab; font-size: 30px}
		<div class="closebutton"><span class="lnr lnr-cross-circle"></span></div> **/
