
	#uxc-4 {
	  position: relative;
	  background: #008DD3;
	  height: 750px;
	}

	.uxc4-head {
	  padding-top: 150px;
		margin: auto;
	  font: 500 36px/57px "Rubik", sans-serif;
		color: white;
		width: 60%;
	  padding-right: 20px;
	}

	.uxc4-button {
	  margin-top: 80px;
	  background: white;
	  width: 168px;
	  height: 16px;
	  font: 500 16px/16px "Rubik", sans-serif;
	  color: #008DD3;
	  text-align: center;
	  padding: 16px 0px;
	  border-radius: 7px;
	  box-shadow: 0px 4px 8px #007CC2;
	  margin-top: 60px;
	}

	.uxc4-button-cont {
	  margin: auto;
	  width: 45%;
	  padding-right: 180px;
	  text-align: left;
	}

	.uxc4-img2 {
	  width: 199px;
	  height: 303px;
		background-image: url("/uxnchill/Asset15.png");
		background-repeat: no-repeat;
  	background-size: 70%;
	  position: absolute;
		top: -70px;
		right: 1px;
	}

	.uxc4-img1 {
	  width: 798px;
	  height: 579px;
		background-image: url("/uxnchill/Asset13.png");
		background-repeat: no-repeat;
  	background-size: 90%;
	  position: absolute;
	  bottom: -10px;
	  right: 0px;
	}

	.uxc4-img3 {
	  width: 216px;
	  height: 348px;
		background-image: url("/uxnchill/Asset12.png");
		background-repeat: no-repeat;
  	background-size: 85%;
	  position: absolute;
	  top: 350px;
	  left: 30px;
	}


@media screen and (max-width: 1024px) {
  #uxc-4 {
    height: 590px;
  }

  .uxc4-img2 {
    width: 159px;
	  height: 213px;
    background-size: 149px;
	  top: -85px;
	  right: 20px;
  }

  .uxc4-img1 {
    width: 638px;
	  height: 429px;
    background-size: 659px;
	  bottom: 30px;
	  right: 70px;
  }

  .uxc4-img3 {
    width: 190px;
	  height: 298px;
    background-size: 189px;
	  top: 270px;
	  left: 100px;
  }

  .uxc4-head {
    text-align: center;
    width: 60%;
    margin: auto;
    padding-right: 0px;
    padding-top: 150px;
    font: 500 21px/25px "Rubik", sans-serif;
  }

  .uxc4-button-cont {
    padding-right: 0px;
    width: 100%;
  }

  .uxc4-button {
    margin: auto;
    margin-top: 20px;
  }
	.uxc4-button:hover { margin-top: 22px!important; }
}

@media screen and (max-width: 768px) {
  .uxc4-img3 {
    left: 3%;
  }

  .uxc4-img1 {
	  right: 3%;
}

@media screen and (max-width: 425px) {
  #uxc-4 {
    height: 590px;
  }

  .uxc4-img2 {
    width: 109px;
    height: 166px;
    background-size: 109px;
    top: -50px;
  }

  .uxc4-img1 {
    width: 329px;
    background-size: 329px;
    height: 238px;
    bottom: 20px;
    right: -20px;
  }

  .uxc4-img3 {
    width: 85px;
    height: 136px;
    background-size: 85px;
    top: 410px;
    left: 0px;
  }

  .uxc4-head {
    text-align: center;
    width: 60%;
    margin: auto;
    padding-right: 0px;
    padding-top: 150px;
    font: 500 21px/25px "Rubik", sans-serif;
  }

  .uxc4-button-cont {
    padding-right: 0px;
    width: 100%;
  }

  .uxc4-button {
    margin: auto;
    margin-top: 30px;
  }
	.uxc4-button:hover { margin-top: 32px!important; }
}
