@media screen and (max-width: 320px) {
  body {
  	left: 0;
  	top: 0;
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    overflow-x: hidden;
  }

  #uxc-2 h1 {
    width: 167px;
    height: 57px;
    font-family: 'Rubik';
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.2px;
    color: #f3f3f3;
    margin: 0px !important;
  }

  .h1 {
    display: flex;
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  #uxc-2 {
    background: #008DD3;
    width: 100%;
    text-align: center;
  }

  .uxc2-container, .uxc3-container {
    width: 100%;
  	display:flex;
    flex-direction: column;
  }


  .uxc2-panel,.uxc2-panel:first-child, .uxc2-panel:nth-child(4) {
    border-radius: 7px;
    background-color: #ffffff;
    margin: 0 19px 32px 19px;
    padding: 32px 24px 32px 24px;
  }

  .panel-img {
    width: 234px;
    height: 176px;
  }

  .uxc2-panel h2 {
    font-family: 'Rubik';
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.41;
    letter-spacing: normal;
    color: #008dd3;
	}

  .uxc2-panel h3 {
    font-family: 'Rubik';
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.41;
    letter-spacing: normal;
    color: #3f3f3f;
    text-align: left;
	}

  .uxc2-panel p {
    font-family: 'Rubik';
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.64;
    letter-spacing: normal;
    color: #8d959d;
    text-align: justify;
	}

  .uxc2-panel a {
    font-family: 'Rubik';
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #f3f3f3;
    text-decoration: none;
  }

  .panel-button {
   width: 80px;
   border-radius: 7px;
   box-shadow: 0 4px 8px 0 rgba(169, 169, 169, 0.3);
   background-color: #008dd3;
   padding: 16px 32px 16px 32px;
	}

  .uxc3-img1 {

  }

  #uxc-3 {
    background: #EAEDF1;
    width: 100%;
    text-align: center;
  }

  #uxc-3 h1 {
    width: 125px;
    height: 57px;
    font-family: 'Rubik';
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.2px;
    color: #3F3F3F;
    margin: 0px !important;
	}

  .uxc3-box {
    padding: 40px 24px 40px 24px;
    margin: 0 20px 32px 20px;
    background: white;
    border-radius: 10px;
  }

  .uxc3-box h2 {
	  margin: 0px;
	  font-weight: 500px;
    font-size: 32px;
    margin-bottom: 16px;
    font-family: 'Rubik', sans-serif;
	  color: #008DD3;
    text-align: left;
	}

  .uxc3-box h3 {
	  margin: 0px;
    font-size: 24px;
    font-family: 'Rubik', sans-serif;
    text-align: left;
	  color: #3f3f3f;
	}

  .uxc3-box h4 {
	  margin: 0px;
	  font: 400 18px 'Rubik', sans-serif;
	  color: #ababab;
    text-align: left;
    margin-top: 16px;
	}

  .uxc3-box p {
	  margin: 0px;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    text-align: justify;
    color: #5f5f5f;
    margin-top: 16px;
	}

  .uxc3-box a {
    font-family: 'Rubik';
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #f3f3f3;
    text-decoration: none;
	}

  .box-button {
    width: 120px;
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(169, 169, 169, 0.3);
    background-color: #008dd3;
    padding: 16px 24px 16px 24px;
    margin-top: 24px;
  }

}
