

@media screen and (max-width: 425px) {
  #uxc-4 {
    height: 590px;
  }

  .uxc4-img2 {
    width: 109px;
    height: 166px;
    background-size: 109px;
    top: -50px;
  }

  .uxc4-img1 {
    width: 329px;
    background-size: 329px;
    height: 238px;
    bottom: 20px;
    right: -20px;
  }

  .uxc4-img3 {
    width: 85px;
    height: 136px;
    background-size: 85px;
    top: 410px;
    left: 0px;
  }

  .uxc4-head {
    text-align: center;
    width: 60%;
    margin: auto;
    padding-right: 0px;
    padding-top: 150px;
    font: 500 21px/25px "Rubik", sans-serif;
  }

  .uxc4-button-cont {
    padding-right: 0px;
    width: 100%;
  }

  .uxc4-button {
    margin: auto;
    margin-top: 30px;
  }

  #modal-window {
    top: 30px;
    left: 30px;
    transform: translate(0%, 0%);
    ;
  }

  .sp-img {
    display: none;
  }

  #spmodal {
    width: 260px;
    height: 500px;
  }

  .sp-right {
    width: 210px;
    top: 25px;
    right: 25px;
    height: 450px;
  }

  .speaker-button {
    bottom: 0px;
  }

  .sp-right p {
    max-height: 250px;
  }

  #talkmodal {
    width: 210px;
    height: 400px;
    padding: 50px 25px;
    text-align: left;
  }

  #talkmodal h1 {
    font: 500 24px/28px "Rubik", sans-serif;
  }

  #talkmodal h2 {
    font: 400 16px/19px "Rubik", sans-serif;
  }

  #talkmodal p {
    font: 400 14px/30px "Rubik", sans-serif;
  }

  #talkmodal p b {
    width: 60px;
    margin-right: 15px;
  }

  .talkregbutton {
    left: 25px;
  }
}


@media screen and (max-width: 320px) {
  .uxc4-img2 {
    top: -80px;
  }

  .uxc4-img1 {
    right: -30px;
  }

  .uxc4-img3 {
    left: -5px;
  }

  .uxc4-head {
    padding-top: 150px;
  }
}
