	#uxc-5 {
	  background: white;
	  padding: 90px 30px;
	}

	.uxc5-logo {
	  background-image: url("./assets/Logo.png");
	  width: 278px;
	  height: 66px;
	  display: inline-block;
	  margin-right: 130px;
	  vertical-align: top;
	}

	.uxc5-follow {
	  border-right: 2px solid rgba(196, 196, 196, 0.4);
	  width: 150px;
	  padding-right: 90px;
	  display: inline-block;
	  margin-right: 90px;
	  vertical-align: top;
	}

	#uxc-5 h1 {
	  margin: 0px;
	  font: 500 24px/28px Rubik, sans-serif;
	  color: #3f3f3f;
	}

	#uxc-5 p {
	  margin: 0px;
	  margin: 15px 0px;
	  font: 400 14px/18px Rubik, sans-serif;
	  color: #5f5f5f;
	}

	.uxc5-contact {
	  display: inline-block;
	  width: 150px;
	}

	.uxc5-contain {
	  width: 1000px;
	  margin: auto;
	}

@media screen and (min-width: 320px) and (max-width: 450px) {
    #uxc-5 {
      padding: 70px 0px;
    }

    .uxc5-contain{
      width: 360px;
    }

    .uxc5-logo {
      width: 180px;
      height: 50px;
      background-size: 180px;
      display: block;
      margin-left: 60px;
      ;
    }

    .uxc5-follow {
      margin-left: 60px;
      display: block;
      border-right: 0px;
      border-bottom: 2px solid rgba(196, 196, 196, 0.4);
      width: 200px;
      padding-right: 0px;
      margin-top: 30px;
      padding-bottom: 10px;
    }

    .uxc5-contact {
      display: block;
      width: 200px;
      margin-left: 60px;
      margin-top: 25px;
    }
  }

@media screen and (min-width: 450px) and (max-width: 768px) {
  #uxc-5 {
    padding: 60px 0px;
  }

  .uxc5-contain{
    width: 720px;
    margin-left: 18%;
  }

  .uxc5-logo{
    margin: 0 0 10% 15%;

  }
}
