/* modals */
.close-container {
  display: flex;
  justify-content: flex-end;
}

.close {
  margin: 16px;
  cursor: pointer;
}

.modal-content {
  display: none;
}

#fade-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 100;
}

#modal-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 580px;
  z-index: 101;
}

#spmodal {
  background: white;
  margin: auto;
  width: 900px;
  height: 580px;
  background: white;
}

.sp-grid {
  display: grid;
  grid-template-columns: auto auto;
  margin: auto;
}

.sp-img {
  width: 350px;
  height: 420px;
  overflow: hidden;
}

.sp-img {
  margin-left: auto;
  margin-right: 24px;
}

.sp-img img {
  width: 350px;
  height: 420px;
}

.sp-right {
  width: 350px;
  height: 400px;
  margin: auto auto auto 24px;
}

.sp-right h1 {
  margin: 0px;
  font: 500 21px/30px "Rubik", sans-serif;
  color: #008DD3;
  text-align: left;
  margin-top: 24px;
  margin-bottom: 16px;
}

.sp-right h2 {
  margin: 0px;
  font: 500 16px/19px "Rubik", sans-serif;
  color: #3F3F3F;
  text-align: justify;
  margin: 16px 0px;
}

.sp-right p {
  margin: 0px;
  font: 400 14px/25px "Rubik", sans-serif;
  color: #8D959D;
  text-align: left;
  max-height: 350px;
  overflow: hidden;
}

.speaker-button {
  color: white;
  background-color: #008dd3;
  box-shadow: 0px 4px 8px rgba(169, 169, 169, 0.3);
  border-radius: 7px;
  width: 148px;
  text-align: center;
  padding: 16px 0px;
  font: 400 16px/19px "Rubik", sans-serif;
  cursor: pointer;
  text-decoration: none;
  margin-top: 36px;
  /* position: absolute; */
  /* bottom: 20px; */
}

#talkmodal {
  background: white;
  margin: auto;
  width: 650px;
  height: 575px;
  background: white;
  /* vertical-align: middle;
  position: relative;
  text-align: center;
  padding: 70px 50px; */
}

.talkmodal {
  display: grid;
  grid-template-rows: auto auto auto auto;
}

.talkmodal h1 {
  margin: 0px;
  color: #008DD3;
  text-align: center;
  font: 500 36px/43px "Rubik", sans-serif;
  grid-row: 1/1;
}

.talkmodal h2 {
  margin: 0px;
  color: black;
  font: 400 18px/21px "Rubik", sans-serif;
  text-transform: uppercase;
  margin: 16px 0px;
  grid-row: 2/2;
  text-align: center;
}

.talkmodal p {
  font: 400 16px/38px "Rubik", sans-serif;
  color: #707070;
  text-align: left;
  width: 350px;
  margin: 0px;
  grid-row: 3/3;
}

.talkmodal p b {
  font: inherit;
  display: inline-block;
  width: 80px;
  text-align: justify;
  margin: auto;
  margin-bottom: 8px;
}

.talkregbutton {
  color: white;
  background-color: #008dd3;
  box-shadow: 0px 4px 8px rgba(169, 169, 169, 0.3);
  border-radius: 7px;
  width: 136px;
  text-align: center;
  padding: 16px 0px;
  font: 400 14px/17px "Rubik", sans-serif;
  cursor: pointer;
  text-decoration: none;
  grid-row: 4/4;
  margin-top: 32px;
}

.regbutton:hover, .panel-button:hover, .talkregbutton:hover, .box-button:hover {
  background: #007dbb;
  margin-top: -2px;
  margin-bottom: 2px;
}

.regbutton, .panel-button, .talkregbutton, .box-button, .uxc4-button {
  transition: 0.1s all ease-in-out;
}

.uxc4-button:hover {
  background: #f3f3f3;
}
