
	#uxc-3 {
	  background: #EAEDF1;
	  padding: 90px 0px 120px 0px;
	  position: relative;
	}

	#uxc-3 h1 {
	  margin: 0px;
	  text-align: center;
	  font: 500 36px/43px "Rubik", sans-serif;
	  color: #3f3f3f;
	}

	.uxc3-container {
	  margin: auto;
	  width: 1080px;
	  margin-top: 80px;
		display: grid;
		grid-template-columns: auto auto auto;
    justify-content: center;
	}

	.uxc3-box {
	  width: 240px;
	  height: 180px;
	  padding: 60px 40px;
	  background: white;
	  border-radius: 10px;
    display: grid;
    grid-template-rows: auto auto auto auto;
    margin-left: 12px;
    margin-right: 12px;
	}

	.uxc3-box h2 {
	  margin: 0px;
	  font: 500 34px/43px "Rubik", sans-serif;
	  color: #008DD3;
	}

	.uxc3-box h3 {
	  margin: 0px;
	  font: 500 18px/24px "Rubik", sans-serif;
	  color: #3f3f3f;
	}

	.uxc3-box h4 {
	  margin: 0px;
	  font: 400 14px/17px "Rubik", sans-serif;
	  color: #ababab;
	}

	.box-button {
	  font: 400 16px/16px "Rubik", sans-serif;
	  color: white;
	  text-align: center;
	  background: #008DD3;
	  width: 168px;
	  padding: 16px 0px;
	  border-radius: 7px;
	  box-shadow: 0px 4px 8px rgba(169, 169, 169, 0.3);
    margin-top: 16px;
    margin-bottom: 16px;
	}

	.uxc3-img1 {
	  width: 307px;
	  height: 795px;
	  background-image: url("./../assets/Asset17.png");
	  position: absolute;
	  top: -170px;
	}

  @media screen and (max-width: 1024px) {
    .uxc3-container {
  	  width: 100%;
      grid-template-columns: auto auto;
  		grid-template-rows: auto auto;
  	}

    .uxc3-box {
      margin: 0 12px 24px 12px;
    }
  }

  @media screen and (max-width: 860px) {
    #uxc-3 h1 {
      margin-top: -180px;
    }
    .uxc3-img1 {
      width: 300px;
      height: 380px;
      background-image: url("./../assets/Asset17.png");
      position: relative;
      display: flex;
      justify-content: center;
      margin: auto;
      margin-bottom: 0px !important;
    }
  }

	@media screen and (max-width: 690px) {
		.uxc3-container {
			width: 100%;
			grid-template-columns: auto;
			grid-template-rows: auto auto auto;
		}

		.uxc3-box {
			margin: 0 0 24px 0;
		}
	}
