#uxc-2 {
  background: #008DD3;
  text-align: center;
  padding: 60px 0px 120px 0px;
  width: 100%;
}

#uxc-2 h1 {
  margin: 0px;
  color: white;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 3em;
  margin-bottom: 50px !important;
}

.uxc2-container {
  margin: auto !important;
  width: 1080px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  justify-content: center;
}

.uxc2-panel {
  width: 270px;
  background: white;
  height: 570px;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: left;
  margin-bottom: 40px;
  margin-left: 12px;
  margin-right: 12px;
  display: grid;
  grid-template-rows: 216px 32px 32px 240px auto;
}

.panel-img {
  width: 270px;
  height: 200px;
  margin-bottom: 16px;
}

.uxc2-panel h2 {
  margin: 0px;
  color: #008DD3;
  font: 500 16px/23px Rubik, sans-serif;
  height: 16px;
  margin-bottom: 16px;
  line-height: 23px;
}

.uxc2-panel h3 {
  margin: 0px;
  font: 500 16px/23px Rubik, sans-serif;
  color: #3f3f3f;
  height: 16px;
  margin-bottom: 16px;
  line-height: 23px;
}

.uxc2-panel p {
  margin: 0px;
  font: 400 14px/20px Rubik, sans-serif;
  color: #8D959D;
  max-height: 240px;
  margin-bottom: 16px;
  line-height: 20px;
}

.panel-button {
  padding: 16px 20px;
  width: 100px;
  height: 17px;
  background: #008DD3;
  text-align: center;
  color: #f3f3f3;
  font: 14px/17px Rubik, sans-serif;
  border-radius: 7px;
  box-shadow: 0px 4px 8px rgba(169, 169, 169, 0.3);
  cursor: pointer;
}

@media screen and (max-width: 1100px) and (min-width: 720px) {
  .uxc2-container {
    margin: auto !important;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    justify-content: center;
  }

  .panel-button {
    margin-top: 16px;
  }
}

@media screen and (max-width: 720px) {
  .uxc2-container {
    margin: 16px;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    justify-content: center;
  }

  .uxc2-panel {
    margin-bottom: 32px;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: left;
    display: grid;
    grid-template-rows: 216px 32px 31px 227px auto;
  }

  .panel-button {
    margin-top: 16px;
  }

}


@media screen and (max-width: 420px) {
  #uxc-2 h1 {
    width: 100%;
  }
}

@media screen and (max-width: 350px) {
  #uxc-2 h1 {
    width: 100%;
  }

  .uxc2-panel {
    width: 73vw;
    grid-template-rows: 216px 32px 48px 200px auto;
  }

  .panel-img {
    width: 73vw;
  }

  .uxc2-panel h2 {
    margin-bottom: 16px !important;
  }

  .uxc2-panel h3 {
    margin-top: 16px !important;
  }

  .uxc2-panel p {
    max-height: 200px !important;
  }


}
